/* 
    Document   : park_style
    Created on : 21.12.2012, 20:52:47
    Author     : Sergiy Tolok
    Description:
        Describes all general styles in application
*/
table, th, td
{
    border: 1px solid black;
}

#main_table {
    width: 90%;
    text-align: center;    
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

#main_table thead tr:first-child{
    background: moccasin;
    height: 100px;
}

#main_table thead tr th:first-child{
   width: 100px;
}

#main_table thead tr th:nth-child(2){
    font-size: 200%;
    height: 100px;
}

#main_table thead tr th:last-child{
   width: 100px;
}


.bottom_center{
    text-align: center;
    height: 10px;   
    background: moccasin;
}

.top_head{
    background: moccasin;
    height: 100px;
}

.content{
    border: 1px;
    vertical-align: central;
    text-align: center;
    background:cornsilk; 

}

.content tr:first-child{
    background-color: #cccccc;

}

.content_table{   
    margin-left: auto;
    margin-right: auto;    
    background: khaki;
}

.error_table{   
    margin-left: auto;
    margin-right: auto;    
    background: lightcoral;
}

.content_table tr:first-child{
    background-color:tan;    
}

.left_right_center{
    background: tan;
}

.right_corner {
    width: 100px;
    height: 100px;
    background-image: url(style/bench.png);
}

.main_button {

    background-color: transparent;
    height: 100px; /* height of the background image */
    width: 100px; /* width of the background image */

}

td.back {
    background-color:#000000;
    background-image:url(style/bench.png);
}

root { 
    display: block;
}

#top_center{
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    height: 100px;
}

#left_side{
    width: 100px;
}

#right_side{
    width: 100px;
}

#bottom_info{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70%;
}
